<!-- <div >
   <ul *ngIf="(process |async) as p">
      <li>{{p.id}}</li>
      <li>{{p.name}}</li>
      <li>{{p.resource}}</li>
      <li>{{p.key}}</li>
      <li>{{p.deploymentId}}</li>
   </ul>
</div>
<div>
   <button class="btn btn-dark text-white" (click)="onBack()">Back</button>
</div> -->

<div class="container">
   <h4 class="display-4">Process Details</h4>
</div>
<div class="container text-primary">
   <div *ngIf="(process | async) as task">
      <h2>{{task.name}}</h2>
   </div>
</div>
<div class="container-fluid p-2 ">
  <div>
        <table class="table text-center table-bordered table-hover table-sm">
           <thead class="thead-dark">
             <tr>
               <th scope="col">Id</th>
               <th scope="col">Name</th>
               <th scope="col">Resource</th>
               <th scope="col">Key</th>
               <th scope="col">DeploymentId</th>
             </tr>
           </thead>
           <tbody> 
                 <tr *ngIf="(process | async) as task">
                   <td>{{task.id |NullData}}</td>
                   <td>{{task.name | NullData}}</td>
                   <td>{{task.resource | NullData}}</td>
                   <td>{{task.key | NullData}}</td>
                   <td>{{task.deploymentId | NullData}}</td>
                 </tr>
            </tbody>
         </table>
         <div>
           <button class="btn btn-dark text-white float-right" (click)="onBack()">Back</button>
        </div>
  </div>
</div> 