<!-- <div class="container">
   <div>
     <ul class="processDefinitions">
        <li *ngFor="let process of processDefinitions">
           <p><a>{{process.id}}</a></p>
           <p><a>{{process.name}}</a></p>
           <p><a>{{process.key}}</a></p>
        </li>
     </ul> 
   </div>
</div> -->
<h1 class="display-4 text-center">Process</h1>
<div class="container">
<div class=".col-6 .col-md-4">
   <table class="table text-center table-bordered table-hover table-sm"  >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Key</th>
          <th scope="col">Name</th>
          <th scope="col">Resource</th>
          <th scope="col">Start Process</th>
        </tr>
      </thead>
      <tbody id="process-table"> 
         <tr *ngFor="let process of processDefinitions;  index as i">
           <td>{{process.id | NullData}}</td>
           <td>{{process.key | NullData}}</td>
           <td><a [routerLink]="['/process-details/',process.id]">{{process.name}}</a></td>
           <td>{{process.resource | NullData}}</td>
           <td><button class="btn btn-primary text-white text-center" (click)="startProcess(process.id)">Start</button></td>
         </tr>
       </tbody>
     </table>
</div>
</div>
<div class="container">
  <button class="btn btn-dark text-white text-center float-right" (click)="onBack()">Back</button>
</div>