<!-- <div class="container">
   <div>
     <ul class="processDefinitions">
        <li *ngFor="let process of processDefinitions">
           <p><a>{{process.id}}</a></p>
           <p><a>{{process.name}}</a></p>
           <p><a>{{process.key}}</a></p>
        </li>
     </ul> 
   </div>
</div> -->
<h1 class="display-4 text-center">Process</h1>
<div class="container">
<div class=".col-6 .col-md-4">
   <table class="table text-center table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Key</th>
          <th scope="col">Name</th>
          <th scope="col">Resource</th>
        </tr>
      </thead>
      <tbody> 
         <tr *ngFor="let process of (processDef | async);  index as i">
           <td>{{process.id}}</td>
           <td>{{process.key}}</td>
           <td><a [routerLink]="['/process-details/',process.id]">{{process.name}}</a></td>
           <td>{{process.resource}}</td>
         </tr>
       </tbody>
     </table>
</div>
</div>
<div class="container">
  <button class="btn btn-dark text-white text-center float-right" (click)="onBack()">Back</button>
</div>